:root{
    --crystal:rgba(255, 255, 255, 0.2);//color para el cuerpo de los contenedores del main
    --red: rgba(255,95,83,255);
    --blue: rgba(0,196,227,255);
}
/*------ Se ajusta el tamaño del main para que quede centrado y se le coloca la imagen del background ------*/
.conteiner{
        background-image: url(../img/background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        justify-content: center;
        height: 100vh;    

        &-left{
            align-self: center;
            width:450px;
            height: 600px;
            background-color: var(--crystal);
            border: solid 1px var(--crystal);
            border-right: unset;
            backdrop-filter: blur(20px);

            &-title{
                width: 100%;
                height: 30%;
               

                h2{
                    margin: unset;
                    padding: 20px;
                    font-size: 3rem;
                    text-align: center;
                    color: rgba(9, 9, 9, 0.8);
                }

                div{
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;

                    button{
                        width: 150px;
                        height: 30px;
                        border-radius: 15px;
                        color: white;
                        background-color:  var(--red);
                        border: none;
                        }
                    }
                }
            }
            &-menu{
                width: 100%;
                height: 70%;
                display: flex;

                div{
                   background-color: black;
                }
            }
            }
        &-right{
            align-self: center;
            width:650px;
            height: 600px;
            background-color: var(--crystal);
            border: solid 1px var(--crystal);
            
            }
